<div class="w-full flex justify-center min-h-[78%] bg-[#f1f5f9]">
  <div class="container flex items-center flex-col">
    <h1 class="text-2xl text-center mt-10 mb-5">Appointment</h1>
    <div class="w-[90%] bg-white rounded-lg bg-background p-10">
      <nz-tabset nzType="card">
        <nz-tab nzTitle="Home Owner">
          <nz-table
            #homeAppointmentTable
            [nzData]="homeAppointmentList"
            nzSize="middle"
          >
            <thead>
              <tr>
                <th *ngFor="let column of appointmentTableHeader">
                  {{ column.title }}
                </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let data of homeAppointmentTable.data; let i = index">
                <td>{{ data.companyName }}</td>
                <td>{{ data.decoratorName }}</td>
                <td>{{ data.status }}</td>
                <td>{{ data.createdAt.split("T")[0] }}</td>
                <td>{{ data.updatedAt.split("T")[0] }}</td>
                <td>
                  <button
                    nz-button
                    nzType="link"
                    class="flex items-center"
                    (click)="viewSelectedInfo(i, 'home')"
                  >
                    <span nz-icon nzType="eye" nzTheme="outline"></span>View
                  </button>
                </td>
              </tr>
            </tbody>
          </nz-table>
        </nz-tab>
        <nz-tab nzTitle="Restauranteur">
          <nz-table
            #restAppointmentTable
            [nzData]="restAppointmentList"
            nzSize="middle"
          >
            <thead>
              <tr>
                <th *ngFor="let column of appointmentTableHeader">
                  {{ column.title }}
                </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let data of restAppointmentTable.data; let i = index">
                <td>{{ data.companyName }}</td>
                <td>{{ data.decoratorName }}</td>
                <td>{{ data.status }}</td>
                <td>{{ data.createdAt.split("T")[0] }}</td>
                <td>{{ data.updatedAt.split("T")[0] }}</td>
                <td>
                  <button
                    nz-button
                    nzType="link"
                    class="flex items-center"
                    (click)="viewSelectedInfo(i, 'rest')"
                  >
                    <span nz-icon nzType="eye" nzTheme="outline"></span>View
                  </button>
                </td>
              </tr>
            </tbody>
          </nz-table>
        </nz-tab>
      </nz-tabset>
    </div>
  </div>
  <nz-modal
    #modal
    [nzVisible]="isHomeVisible"
    [nzMaskClosable]="false"
    [nzTitle]="'Action Appointment'"
    (nzOnCancel)="isHomeVisible = false"
    [nzFooter]="homeFooter"
  >
    <ng-container *nzModalContent>
      <h1 class="text-sm mt-3">Company Name:</h1>
      <h3 class="text-base">{{ currentAppointment.companyName }}</h3>
      <h1 class="text-sm mt-3">Status:</h1>
      <h3 class="text-base">{{ currentAppointment.status }}</h3>
      <h1 class="text-sm mt-3">Created Date:</h1>
      <h3 class="text-base">
        {{ currentAppointment.createdAt.split("T")[0] }}
      </h3>
      <h1 class="text-sm mt-3">Updated Date:</h1>
      <h3 class="text-base">
        {{ currentAppointment.updatedAt.split("T")[0] }}
      </h3>
      <h1 class="text-sm mt-3">Decorator Name:</h1>
      <h3 class="text-base">{{ currentAppointment.decoratorName }}</h3>

      <h1 class="text-sm mt-3 mb-1">Work Day:</h1>
      <h3 class="text-base">
        {{ currentAppointment.workDate.split("T")[0] }}
      </h3>

      <h1 class="text-sm mt-3 mb-1">Area Size:</h1>
      <h3 class="text-base">{{ currentAppointment.areaSize }}</h3>

      <h1 class="text-sm mt-3 mb-1">Swimming Pool Area:</h1>
      <h3 class="text-base">{{ currentAppointment.poolArea }}</h3>

      <h1 class="text-sm mt-3 mb-1">Greenery Area:</h1>
      <h3 class="text-base">{{ currentAppointment.greenArea }}</h3>

      <h1 class="text-sm mt-3 mb-1">Lounger Area:</h1>
      <h3 class="text-base">{{ currentAppointment.loungerArea }}</h3>

      <h1 class="text-sm mt-3 mb-1">Table Area:</h1>
      <h3 class="text-base">{{ currentAppointment.tableArea }}</h3>

      <h1 class="text-sm mt-3 mb-1">More:</h1>
      <h3 class="text-base">{{ currentAppointment.further }}</h3>
    </ng-container>
    <ng-template #homeFooter>
      <button
        nz-button
        nzType="primary"
        nzDanger
        (click)="appointmentModalDeny('home')"
      >
        Deny Appointment
      </button>
      <button
        nz-button
        nzType="primary"
        (click)="appointmentModalConfirm('home')"
      >
        Accept Appointment
      </button>
    </ng-template>
  </nz-modal>

  <nz-modal
    #modal
    [nzVisible]="isRestVisible"
    [nzMaskClosable]="false"
    [nzTitle]="'Action Appointment'"
    (nzOnCancel)="isRestVisible = false"
    [nzFooter]="restFooter"
  >
    <ng-container *nzModalContent>
      <h1 class="text-sm mt-3">Company Name:</h1>
      <h3 class="text-base">{{ currentAppointment.companyName }}</h3>
      <h1 class="text-sm mt-3">Status:</h1>
      <h3 class="text-base">{{ currentAppointment.status }}</h3>
      <h1 class="text-sm mt-3">Created Date:</h1>
      <h3 class="text-base">
        {{ currentAppointment.createdAt.split("T")[0] }}
      </h3>
      <h1 class="text-sm mt-3">Updated Date:</h1>
      <h3 class="text-base">
        {{ currentAppointment.updatedAt.split("T")[0] }}
      </h3>
      <h1 class="text-sm mt-3">Decorator Name:</h1>
      <h3 class="text-base">{{ currentAppointment.decoratorName }}</h3>

      <h1 class="text-sm mt-3 mb-1">Work Day:</h1>
      <h3 class="text-base">
        {{ currentAppointment.workDate.split("T")[0] }}
      </h3>

      <h1 class="text-sm mt-3 mb-1">Area Size:</h1>
      <h3 class="text-base">{{ currentAppointment.areaSize }}</h3>

      <h1 class="text-sm mt-3 mb-1">Fountain Area:</h1>
      <h3 class="text-base">{{ currentAppointment.fountainArea }}</h3>

      <h1 class="text-sm mt-3 mb-1">Greenery Area:</h1>
      <h3 class="text-base">{{ currentAppointment.greenArea }}</h3>

      <h1 class="text-sm mt-3 mb-1">Chair Count:</h1>
      <h3 class="text-base">{{ currentAppointment.chairCount }}</h3>

      <h1 class="text-sm mt-3 mb-1">Table Count:</h1>
      <h3 class="text-base">{{ currentAppointment.tableCount }}</h3>

      <h1 class="text-sm mt-3 mb-1">More:</h1>
      <h3 class="text-base">{{ currentAppointment.further }}</h3>
    </ng-container>
    <ng-template #restFooter>
      <button
        nz-button
        nzType="primary"
        nzDanger
        (click)="appointmentModalDeny('rest')"
      >
        Deny Appointment
      </button>
      <button
        nz-button
        nzType="primary"
        (click)="appointmentModalConfirm('rest')"
      >
        Accept Appointment
      </button>
    </ng-template>
  </nz-modal>
</div>
