<form
  class="my-10 space-y-6"
  [formGroup]="rePasswordForm"
  (ngSubmit)="onLoginSubmit($event)"
>
  <div class="text-center">
    <h2 class="text-3xl font-semibold text-foreground mb-5">
      Change Password <span class="text-primary">!</span>
    </h2>
  </div>

  <div class="space-y-3 text-left">
    <div class="form__group">
      <!-- <nz-form-item>
        <nz-form-control
          [nzSm]="14"
          [nzXs]="24"
          nzErrorTip="The input is not valid E-mail!"
        >
          <nz-input-group [nzSuffix]="suffixTemplate" class="py-2">
            <input
              [type]="currentVisible ? 'text' : 'password'"
              nz-input
              formControlName="email"
              id="email"
            />
          </nz-input-group>
          <ng-template #suffixTemplate>
            <span
              nz-icon
              [nzType]="currentVisible ? 'eye-invisible' : 'eye'"
              (click)="currentVisible = !currentVisible"
            ></span>
          </ng-template>
        </nz-form-control>
      </nz-form-item> -->
      <div class="relative">
        <nz-form-item>
          <nz-form-control
            class="w-full"
            nzErrorTip="Password must be between 6 and 10 characters long, start with a letter, and include at least one uppercase letter, three lowercase letters, one number, and one special character."
          >
            <nz-input-group [nzSuffix]="currentTemplate" class="py-2 w-full">
              <input
                [type]="currentVisible ? 'text' : 'password'"
                nz-input
                placeholder="Current Password"
                formControlName="currentPassword"
                class="w-full"
              />
            </nz-input-group>
            <ng-template #currentTemplate>
              <span
                nz-icon
                [nzType]="currentVisible ? 'eye-invisible' : 'eye'"
                (click)="currentVisible = !currentVisible"
              ></span>
            </ng-template>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>

    <div class="form__group">
      <div class="relative">
        <nz-form-item>
          <nz-form-control
            class="w-full"
            nzErrorTip="Password must be between 6 and 10 characters long, start with a letter, and include at least one uppercase letter, three lowercase letters, one number, and one special character."
          >
            <nz-input-group [nzSuffix]="newTemplate" class="py-2 w-full">
              <input
                [type]="newVisible ? 'text' : 'password'"
                nz-input
                placeholder="New Password"
                formControlName="newPassword"
                class="w-full"
              />
            </nz-input-group>
            <ng-template #newTemplate>
              <span
                nz-icon
                [nzType]="newVisible ? 'eye-invisible' : 'eye'"
                (click)="newVisible = !newVisible"
              ></span>
            </ng-template>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>

    <div class="form__group">
      <div class="relative">
        <nz-form-item>
          <nz-form-control
            class="w-full"
            nzErrorTip="Password must be between 6 and 10 characters long, start with a letter, and include at least one uppercase letter, three lowercase letters, one number, and one special character."
          >
            <nz-input-group [nzSuffix]="confirmTemplate" class="py-2 w-full">
              <input
                [type]="confirmVisible ? 'text' : 'password'"
                nz-input
                placeholder="Confirm Password"
                formControlName="confirmPassword"
                class="w-full"
              />
            </nz-input-group>
            <ng-template #confirmTemplate>
              <span
                nz-icon
                [nzType]="confirmVisible ? 'eye-invisible' : 'eye'"
                (click)="confirmVisible = !confirmVisible"
              ></span>
            </ng-template>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
  </div>

  <!-- Submit Button -->
  <div>
    <button nz-button nzType="primary" class="h-10" type="submit" nzBlock>
      Change Password
    </button>
  </div>

  <div class="flex items-center text-sm text-muted-foreground">
    <div
      (click)="routeHome()"
      class="rounded-full w-[100px] text-[#1890ff] cursor-pointer"
    >
      Return
    </div>
  </div>
</form>
