<form class="my-10 space-y-6" [formGroup]="rePasswordForm" (ngSubmit)="onLoginSubmit()">
  <div class="text-center">
    <h2 class="text-3xl font-semibold text-foreground mb-5">
      Change Password <span class="text-primary">!</span>
    </h2>
  </div>

  <div class="space-y-3 text-left">

    <div class="form__group">
      <div class="relative">
        <nz-input-group [nzSuffix]="suffixTemplate" class="py-2">
          <input
            [type]="currentVisible ? 'text' : 'password'"
            nz-input
            placeholder="Current Password"
            formControlName="currentPassword"
          />
        </nz-input-group>
        <ng-template #suffixTemplate>
          <span
            nz-icon
            [nzType]="currentVisible ? 'eye-invisible' : 'eye'"
            (click)="currentVisible = !currentVisible"
          ></span>
        </ng-template>
      </div>
    </div>

    <div class="form__group">
      <div class="relative">
        <nz-input-group [nzSuffix]="suffixTemplate" class="py-2">
          <input
            [type]="newVisible ? 'text' : 'password'"
            nz-input
            placeholder="New Password"
            formControlName="newPassword"
          />
        </nz-input-group>
        <ng-template #suffixTemplate>
          <span
            nz-icon
            [nzType]="newVisible ? 'eye-invisible' : 'eye'"
            (click)="newVisible = !newVisible"
          ></span>
        </ng-template>
      </div>
    </div>

    <div class="form__group">
      <div class="relative">
        <nz-input-group [nzSuffix]="suffixTemplate" class="py-2">
          <input
            [type]="confirmVisible ? 'text' : 'password'"
            nz-input
            placeholder="Confirm Password"
            formControlName="confirmPassword"
          />
        </nz-input-group>
        <ng-template #suffixTemplate>
          <span
            nz-icon
            [nzType]="confirmVisible ? 'eye-invisible' : 'eye'"
            (click)="confirmVisible = !confirmVisible"
          ></span>
        </ng-template>
      </div>
    </div>
  </div>

  <!-- Submit Button -->
  <div>
    <button nz-button nzType="primary" class="h-10" type="submit" nzBlock>
      Sign in
    </button>
  </div>

  <!-- Sign-up -->
  <div class="flex items-center text-sm text-muted-foreground">
    Not a Member yet?
    <button nz-button nzType="link" (click)="routeRegister()" nzPrimary>
      Sign up
    </button>
  </div>
</form>
